<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} · {{ sourceOrganization.name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ abstract|safe}}">
    <link rel="canonical" href="{{ url }}">
    <link rel="shortcut icon" href="/favicon.png">
    <script type="application/ld+json">{{ schema_data|safe }}</script>
    {{ open_graph_tags|safe }}
    <style>
        :root {
            --box-shadow: 1px 1px 3px #999;
            --color-blue: aliceblue;
            --color-yellow: cornsilk;
            --dark: #111;
            --light: #f9f9f9;
            --line-height: 1.8;

            --color: #805c06;
            --color-background: var(--light);
            --color-background-accent: #fff;
            --color-faint: #d9d9d9;
            --color-text: var(--dark);
        }

        @media (prefers-color-scheme: dark) {
            :root {
                --color: wheat;
                --color-background: var(--dark);
                --color-background-accent: #000;
                --color-faint: #333;
                --color-text: var(--light);
            }
        }

        body {
            background-color: var(--color-background);
            color: var(--color-text);
            column-gap: 2rem;
            display: grid;
            font-family: -system, sans-serif;
            grid-template:
                "header header" auto
                "nav    main" auto
                "nav    footer" auto / 24ch 1fr;
            margin: 0 auto;
            max-width: 1400px;
            padding: 0 0.75rem;
            row-gap: 1rem;
        }

        @media(max-width: 800px) {
            body {
                grid-template:
                    "header" auto
                    "nav" auto
                    "main" auto
                    "footer" auto;
            }
        }

        body>header {
            grid-area: header;
            padding: 0.5em 0;
            border-bottom: 1px solid var(--color-faint);
        }

        body>details>summary {
            display: none;
        }

        @media(max-width: 800px) {
            body>details>summary {
                border: 1px solid var(--color-faint);
                border-radius: 0.25rem;
                display: inline-block;
                padding: 0.25rem 0.5rem;
            }

            body>details>summary::before {
                content: '📘';
                margin-right: 0.25rem;
            }

            body>details[open]>summary::before {
                transform: rotate(90);
                content: '📖';
            }
        }

        body>nav {
            grid-area: nav;
            overflow-y: auto;
        }

        body>footer {
            grid-area: footer;
        }

        body>main {
            grid-area: main;
        }

        main>h1,
        nav>ul {
            margin-top: 0;
        }

        main a {
            text-decoration: underline;
        }

        main p {
            line-height: var(--line-height);
        }

        main ul {
            line-height: var(--line-height);
        }

        nav>ul {
            padding-left: 0;
        }

        nav ul li {
            list-style: none;
            margin: 0.25em 0;
        }

        nav>ul>li {
            margin-top: 0.75em;
        }

        nav>ul:first-child>li {
            margin-top: 0;
        }

        nav li ul {
            padding-left: 1em;
        }

        nav a {
            display: inline-block;
            padding: 0.5em 0;
        }

        a {
            color: var(--color);
            text-decoration: none;
        }

        figure {
            margin: 1.2em inherit;
            width: auto;
            max-width: 100%;
        }

        figure>figcaption {
            font-style: italic;
            text-align: center;
        }

        figure>picture+figcaption::before {
            content: "🖼️ ";
            font-style: normal;
            padding-right: 0.25em;
        }

        figure picture img {
            max-width: 100%;
            height: auto;
        }

        picture {
            text-align: center;
        }

        pre {
            box-shadow: var(--box-shadow);
            white-space: pre-wrap;
        }

        pre>code {
            display: block;
            padding: 1em;
        }
    </style>
</head>

<body>
    <header>
        <a href="/" class="blurry">Blurry</a>
    </header>
    <details open>
        <summary>Menu</summary>
        <nav>
            <ul>
                <li>Getting Started
                    <ul>
                        <li><a href="/getting-started/quick-start/">Quick Start</a></li>
                    </ul>
                </li>
                <li>Commands
                    <ul>
                        <li><a href="/commands/build/"><code>build</code></a></li>
                        <li><a href="/commands/runserver/"><code>runserver</code></a></li>
                    </ul>
                </li>
                <li>Content
                    <ul>
                        <li><a href="/content/markdown/">Markdown</a></li>
                        <li><a href="/content/images/">Images</a></li>
                        <li><a href="/content/plugins/">Plugins</a></li>
                    </ul>
                </li>
                <li>Templates
                    <ul>
                        <li><a href="/templates/syntax/">Syntax</a></li>
                        <li><a href="/templates/context/">Context</a></li>
                    </ul>
                </li>
                <li>Configuration
                    <ul>
                        <li><a href="/configuration/settings/">Settings</a></li>
                        <li><a href="/configuration/blurry.toml/">blurry.toml</a></li>
                        <li><a href="/configuration/environment-variables/">Environment variables</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </details>

    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <p>
            <small>
                &copy; 2020-2023 <a href="https://johnfraney.ca/">John Franey</a>
            </small>
        </p>
    </footer>

    <!-- {% if not settings.RUNSERVER %}
    <script async
        defer
        src="https://ackee.punster.ca/tracker.js"
        data-ackee-server="https://ackee.punster.ca"
        data-ackee-domain-id="04531be3-ffa1-4368-8cf6-8ffc175e50ad"></script>
    {% endif %} -->
    <link rel="preload" href="https://unpkg.com/@highlightjs/cdn-assets@11.3.1/styles/a11y-light.min.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.3.1/styles/a11y-light.min.css">
    </noscript>
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.3.1/highlight.min.js" async defer></script>
    <script>window.addEventListener('load', () => hljs.highlightAll());</script>
    <style>
        aside[role="note"] {
            --spacing: 0.75rem;
            box-shadow: var(--box-shadow);
            background: var(--color-background-accent);
            margin: 1rem 0;
            padding: var(--spacing);
        }

        aside[role="note"]::before {
            background: var(--color-blue);
            color: var(--dark);
            content: "🛈 Info";
            display: block;
            line-height: 1;
            margin: calc(var(--spacing) * -1);
            padding: var(--spacing);
        }

        aside[role="note"].note::before {
            content: "📝 Note";
            background: var(--color-yellow);
        }

        aside[role="note"].tip::before {
            content: "💡 Tip";
            background: var(--color-yellow);
        }

        aside[role="note"]>p:last-child {
            margin-bottom: 0;
        }

        .blurry {
            color: var(--color);
            filter: blur(0.6px);
        }

        table {
            border: 1px solid var(--color-faint);
            background-color: var(--color-background-accent);
            box-shadow: var(--box-shadow);
        }

        th,
        td {
            border-bottom: 1px solid var(--color-faint);
            padding: 0.5em;
        }

        tr:last-child td {
            border-bottom: none;
        }

        th {
            text-align: left;
        }
    </style>
    <script>
        function onWindowResize(event) {
            const detailsElement = document.querySelector('details')
            console.info(window.innerWidth)
            window.innerWidth > 800 ? detailsElement.setAttribute("open", "") : detailsElement.removeAttribute("open")
        }
        addEventListener("resize", onWindowResize);
        onWindowResize()
    </script>
</body>

</html>